<?php
$articles = $this->getArticlesCollection();
$articlesViewUrl = Mage::getUrl('articles/index/view');
?>
<h1>Articles</h1>
<?php foreach ($articles as $item): ?>
    <h2>
        <a href="<?php echo $articlesViewUrl; ?>?article_id=<?php echo $item->getArticleId(); ?>">
            <?php echo $item->getTitle(); ?>
        </a>
    </h2>
<?php endforeach; ?>